@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
    font-family: 'Bad Script', cursive;
/* font-family: 'Poppins', sans-serif; */
}
.btn{
    font-size: 20px;
    padding: 10px 15px;
    background-color: crimson;
    border: none;
    border-radius: 5px;
    transition: all .5s ease;
    color: #fff;
    font-family: sans-serif;
    text-transform: capitalize;

}
.btn:hover{
    background: rgb(255, 255, 255);
    transform: scale(1.1);
    color: #000;

}
h2{
    font-size: 10vh;
    color: transparent;
    text-align: center;
}
h2 span{
    animation: animate 3s linear infinite;
    animation-delay: calc(0.1s * var(--i));

}
@keyframes animate{
    0%
    {
        color: #fff;
        filter: blur(-0.1px) hue-rotate(-0deg); 
        text-shadow: 0 0 10px #08ff1c,
        0 0 20px #2cff3e,
        0 0 40px #2cff3e,
        0 0 80px #2cff3e,
        0 0 120px #2cff3e,
        0 0 200px #2cff3e,
        0 0 300px #2cff3e,
        0 0 400px #2cff3e;
    }
    30%,70%
    {
        color: #fff;
        filter: blur(-0.1px) hue-rotate(-360deg); 
        text-shadow: 0 0 10px #bc2cff,
        0 0 20px #bc2cff,
        0 0 40px #bc2cff,
        0 0 80px #bc2cff,
        0 0 120px #bc2cff,
        0 0 200px #2cff3e;

    }
    80%{
        color: #fff;
        filter: blur(-0.1px) hue-rotate(-360deg); 
        text-shadow: 0 0 10px #ff2c2c,
        0 0 20px #ff2c2c,
        0 0 40px #ff2c2c,
        0 0 80px #ff2c2c,
        0 0 120px #ff2c2c,
        0 0 200px #ff2c2c;
    }
    100%
    {
        color: transparent;
        box-shadow: none;
        filter: blur(-0.1px) hue-rotate(-0deg); 

    }
}
@media (max-width: 435px){
    h2{
        font-size: 7vh;
        color: transparent;
        text-align: center;
    }
    h2 span{
        animation: animate 3s linear infinite;
        animation-delay: calc(0.2s * var(--i));
    
    }
    @keyframes animate{
        0%
        {
            color: #fff;
            filter: blur(-0.1px) hue-rotate(-0deg); 
            text-shadow: 0 0 10px #08ff1c,
            0 0 20px #2cff3e,
            0 0 40px #2cff3e,
            0 0 80px #2cff3e,
            0 0 120px #2cff3e,
            0 0 200px #2cff3e,
            0 0 300px #2cff3e,
            0 0 400px #2cff3e;
        }
        30%,70%
        {
            color: #fff;
            filter: blur(-0.1px) hue-rotate(-360deg); 
            text-shadow: 0 0 10px #bc2cff,
            0 0 20px #bc2cff,
            0 0 40px #bc2cff,
            0 0 80px #bc2cff,
            0 0 120px #bc2cff,
            0 0 200px #2cff3e;

        }
        80%{
            color: #fff;
            filter: blur(-0.1px) hue-rotate(-360deg); 
            text-shadow: 0 0 10px #ff2c2c,
            0 0 20px #ff2c2c,
            0 0 40px #ff2c2c,
            0 0 80px #ff2c2c,
            0 0 120px #ff2c2c,
            0 0 200px #ff2c2c;
        }
        100%
        {
            color: transparent;
            box-shadow: none;
            filter: blur(-0.1px) hue-rotate(-0deg); 
    
        }
    }
}