@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
    font-family: 'Bad Script', cursive;
/* font-family: 'Poppins', sans-serif; */
}
h2{
    font-size: 10vh;
    color: transparent;
    text-align: center;
}
h2 span{
    animation: animate 3s linear infinite;
    animation-delay: calc(0.1s * var(--i));

}
@keyframes animate{
    0%
    {
        color: #fff;
        filter: blur(0px) hue-rotate(0deg); 
        text-shadow: 0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 40px #00b3ff,
        0 0 80px #00b3ff,
        0 0 120px #00b3ff,
        0 0 200px #00b3ff,
        0 0 300px #00b3ff,
        0 0 400px #00b3ff;
    }
    30%,70%
    {
        color: #fff;
        filter: blur(0px) hue-rotate(360deg); 
        text-shadow: 0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 40px #00b3ff,
        0 0 80px #00b3ff,
        0 0 120px #00b3ff,
        0 0 200px #00b3ff;
    }
    100%
    {
        color: transparent;
        box-shadow: none;
        filter: blur(0px) hue-rotate(0deg); 

    }
}
@media (max-width: 425px){
    h2{
        font-size: 7vh;
        color: transparent;
        text-align: center;
    }
    h2 span{
        animation: animate .5s linear infinite;
        animation-delay: calc(0.1s * var(--i));
    
    }
    @keyframes animate{
        0%
        {
            color: #fff;
            filter: blur(0px) hue-rotate(0deg); 
            text-shadow: 0 0 10px #00b3ff,
            0 0 20px #00b3ff,
            0 0 40px #00b3ff,
            0 0 80px #00b3ff,
            0 0 120px #00b3ff,
            0 0 200px #00b3ff,
            0 0 300px #00b3ff,
            0 0 400px #00b3ff,
            0 0 600px #00b3ff;
        }
        30%,70%
        {
            color: #fff;
            filter: blur(0px) hue-rotate(360deg); 
            text-shadow: 0 0 10px #00b3ff,
            0 0 20px #00b3ff,
            0 0 40px #00b3ff,
            0 0 80px #00b3ff,
            0 0 120px #00b3ff,
            0 0 200px #00b3ff,
            0 0 400px #00b3ff;

        }
        100%
        {
            color: transparent;
            box-shadow: none;
            filter: blur(0px) hue-rotate(0deg); 
    
        }
    }
}